snippet rc "React component"
import React from "react";
import PropTypes from "prop-types";

export default class ${1:SomeComponentClass} extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      $0
    )
  }
}

$1.propTypes = {
};
endsnippet

snippet bind "Bind a function"
this.${1:someMethod} = this.$1.bind(this);
endsnippet
