[submodule "src/vim/bundle/FormatComment"]
	path = src/vim/bundle/FormatComment
	url = https://github.com/vim-scripts/FormatComment.vim.git
[submodule "src/vim/bundle/IndentAnything"]
	path = src/vim/bundle/IndentAnything
	url = https://github.com/vim-scripts/IndentAnything
[submodule "src/vim/bundle/ShowMarks7"]
	path = src/vim/bundle/ShowMarks7
	url = https://github.com/vim-scripts/ShowMarks7
[submodule "src/vim/bundle/ack"]
	path = src/vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "src/vim/bundle/coffeescript"]
	path = src/vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "src/vim/bundle/earendel"]
	path = src/vim/bundle/earendel
	url = https://github.com/vim-scripts/earendel.git
[submodule "src/vim/bundle/git"]
	path = src/vim/bundle/git
	url = https://github.com/mcmire/vim-git.git
[submodule "src/vim/bundle/html5-syntax"]
	path = src/vim/bundle/html5-syntax
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "src/vim/bundle/indent-guides"]
	path = src/vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "src/vim/bundle/javascript"]
	path = src/vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "src/vim/bundle/less"]
	path = src/vim/bundle/less
	url = git://gist.github.com/369178.git
[submodule "src/vim/bundle/mac-classic-theme"]
	path = src/vim/bundle/mac-classic-theme
	url = https://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "src/vim/bundle/mustache"]
	path = src/vim/bundle/mustache
	url = https://github.com/juvenn/mustache.vim.git
[submodule "src/vim/bundle/nerdcommenter"]
	path = src/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "src/vim/bundle/nerdtree"]
	path = src/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "src/vim/bundle/powerline"]
	path = src/vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "src/vim/bundle/puppet"]
	path = src/vim/bundle/puppet
	url = git://github.com/ajf/puppet-vim.git
[submodule "src/vim/bundle/ragtag"]
	path = src/vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "src/vim/bundle/ruby"]
	path = src/vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "src/vim/bundle/scala"]
	path = src/vim/bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "src/vim/bundle/scss"]
	path = src/vim/bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "src/vim/bundle/sinatra"]
	path = src/vim/bundle/sinatra
	url = https://github.com/hallison/vim-ruby-sinatra.git
[submodule "src/vim/bundle/slim"]
	path = src/vim/bundle/slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "src/vim/bundle/supertab"]
	path = src/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "src/vim/bundle/vim-actionscript"]
	path = src/vim/bundle/vim-actionscript
	url = https://github.com/jeroenbourgois/vim-actionscript.git
[submodule "src/vim/bundle/vim-clojure-static"]
	path = src/vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule "src/vim/bundle/vim-textobj-rubyblock"]
	path = src/vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "src/vim/bundle/vim-textobj-user"]
	path = src/vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "src/vim/bundle/yaml"]
	path = src/vim/bundle/yaml
	url = https://github.com/avakhov/vim-yaml.git
[submodule "src/vim/bundle/molokai"]
	path = src/vim/bundle/molokai
	url = https://github.com/mcmire/molokai.vim
[submodule "src/vim/bundle/FormatBlock"]
	path = src/vim/bundle/FormatBlock
	url = https://github.com/vim-scripts/FormatBlock
[submodule "src/vim/bundle.old/color-sampler"]
	path = src/vim/bundle.old/color-sampler
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "src/vim/bundle/ctrlp"]
	path = src/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "src/vim/bundle/hammer"]
	path = src/vim/bundle/hammer
	url = https://github.com/matthias-guenther/hammer.vim
[submodule "src/vim/bundle/vim-vroom"]
	path = src/vim/bundle/vim-vroom
	url = git://github.com/skalnik/vim-vroom.git
[submodule "src/vim/bundle/vim-rbenv"]
	path = src/vim/bundle/vim-rbenv
	url = git://github.com/tpope/vim-rbenv.git
