.cache
.DS_Store
Brewfile.lock.json
**/node_modules
src/config/nvim/bundle
src/config/opencode/bun.lock
src/config/opencode/node_modules
src/tmux/plugins/*
!src/tmux/plugins/powerline
!src/tmux/plugins/tpm
src/vim/.netrwhist
src/vim/sessions/*
tags
